build/
cmake-build-*/

calculator
calculator_tests
*.exe
*.out

*.o
*.obj
*.lo
*.slo

*.a
*.lib
*.so
*.dylib
*.dll

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
*.cmake
!CMakeLists.txt

googletest-build/
_deps/

.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

*.txt
!CMakeLists.txt
*.bin
*.dat

*.log
